.App {
  text-align: center;
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.note {
  font-size: 15px;
  margin-bottom: 15px;
  max-width: 600px;
}

input[type='text'] {
  background: transparent;
  border: 3px solid #ab44bd;
  padding: 9px 12px;
  border-radius: 16px;
  font-size: 18px;
}

input[type='button'],
input[type='submit'] {
  background: #ab44bd;
  padding: 9px 12px;
  border-radius: 16px;
  font-size: 18px;
  border: 3px solid #ab44bd;
  color: white;
  cursor: pointer;
}

input[type='button']:hover,
input[type='submit']:hover {
  background: #7e57ae;
  border: 3px solid #7e57ae;
}

#search-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#search-input input {
  margin: 5px 10px;
}

@media screen and (min-width: 768px) {
  #search-input input[type='submit'] {
    margin-left: 10px;
  }

  #search-input {
    display: block;
  }

  #search-input input[type='text'] {
    min-width: 300px;
    text-align: center;
  }
}

.pills {
  max-width: 1000px;
  width: 100%;
  text-align: left;
}

.pills span {
  font-size: 18px;
}

.pills input[type='button'] {
  padding: 6px 6px;
  border-radius: 16px;
  font-size: 15px;
}

.pills button {
  background: transparent;
  padding: 6px 6px;
  border-radius: 16px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 8px;
}

.pills button.negative {
  border: 3px solid #c25c64;
  color: #c25c64;
}

.pills button.negative:hover {
  background: #c25c642e;
}

.pills button.negative.selected {
  border: 3px solid #c25c64;
  background-color: #c25c64;
  color: white;
}

.pills button.neutral {
  border: 3px solid #cc8350;
  color: #cc8350;
}

.pills button.neutral:hover {
  background: #cc83502e;
}

.pills button.neutral.selected {
  border: 3px solid #cc8350;
  background-color: #cc8350;
  color: white;
}

.pills button.positive {
  border: 3px solid #7eae57;
  color: #7eae57;
}

.pills button.positive:hover {
  background: #7eae5738;
}

.pills button.positive.selected {
  border: 3px solid #7eae57;
  background-color: #7eae57;
  color: white;
}

article.country {
  background: #ffe0ea;
  padding: 1px 15px;
  text-align: left;
  border-radius: 15px;
  margin-bottom: 15px;
}

article.country h3 span {
  margin-right: 10px;
}

article.country input {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  article.country h3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  article.country h3 span {
    margin-bottom: 10px;
    display: block;
  }
}
